 /* cuerpo*/ 
body{
    background-color: #222222;
    align-items: center;
}
 /* Generales*/
h1{
    color: white;
    font-size: 30px;
    font-family: "Poppins", system-ui;

}
b{
    font-size: 40px;
    color: #007bff;
}
b:hover{
    color: rgb(255, 167, 4);

}
h2{
    color: white;
    font-size: 45px;
    font-family: "Open Sans", system-ui;
}
 /* Perfil*/ 
div.Perfil{
    margin-top: 50px;
    text-align: center;
}
img.perfil{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
 /* Redes*/
div.Redes{
    margin-right: 20%;
    margin-left: 20%;
    padding: 5px;
    text-align: center;
}
img.redes:hover{
    background-color: #ffffff;
    transform:scale(1.06)
}
img.redes{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}
 /* Sobre mi*/
div.Sobre_mi{
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    text-align: center;
}
p.sobre_mi{
    color: white;
    font-size: 20px;
    font-family: "Sora", system-ui;
    text-align:left;
    padding: 40px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #111111;
    border-radius: 40px 0% 40px 0%;
}
 /* Tecnologias*/
div.Tecnologias{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}
table{
    width: 100%;
    text-align: center;
}
img.tecnologias{
    width: 100px;
    height: 100px;
    padding: 10px;
}
img.tecnologias:hover{
    transform:scale(1.2)
}
/* Proyectos*/
h3{
    color: white;
    font-size: 30px;
    font-family: "Open Sans", system-ui;
}
.proyect_title{
    text-align: center;
}
div.Proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.proyectos {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: #1a1919;
}
div.proyectos:hover{
    transform:scale(1.05)
}
.Proyectos img {
    max-width: 100%;
    max-height: 200px;
}
p.descripcion{
    color: white;
    font-size: 15px;
    font-family: "Sora", system-ui;
    padding: 10px;
}
a.enlace{
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: "Sora", system-ui;
    background-color: #007bff;
    padding: 10px;
    border-radius: 15px;
}
a.enlace:hover{
    background-color: #00a8db;
    border-radius: 15px;
    color: black;
}
/* Redes final*/
div.Redes_final{
    padding: 10px;
    text-align: center;
}
img.redes{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: #080808;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: "Sora", system-ui;
}
.red_contenedor{
    text-align: center;
    background-color: #080808;
    padding: 10px;
    border-radius: 30px;
}